@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);

  --color-background: #ffffff;
  --color-foreground: #1a1c1c;

  --color-primary: #FFB6C1;
  --color-primary-foreground: #880E4F;

  --color-secondary: #DC143C;
  --color-secondary-foreground: #FFFFFF;

  --color-accent: #FEE2E2;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
